<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>app</title>
<link rel="stylesheet" href="/static/web/css/style.css"/>
<script src="/static/web/js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="/static/web/js/mobile.js" type="text/javascript"></script>
<script src="/static/web/js/TouchSlide.1.1.js"></script>
<script src="/static/web/js/layer_m/layer.js"></script>
</head>
<body>
<!--head-->
<div class="head x_start_end bb">
	<div class="left"><a href="/member"><i class="m_icon prev2"></i></a></div>
    <div class="center"></div>
    <div class="right"></div>
</div>
<div class="clear"></div>
<!--logo-->
<br/>
<!--login-->
<div class="login_input">
	<div class="login_li x_start bb">
    	<span class="name">姓名</span>
        <div class="con"><input type="text" maxlength="200" name="name" value="" id="name" placeholder="输入姓名" /></div>
    </div>
    <div class="login_li x_start bb">
    	<span class="name">店铺名称</span>
        <div class="con"><input type="text" maxlength="200" name="storeName" value="" id="storeName" placeholder="输入店铺名称" /></div>
    </div>
    <div class="login_li x_start bb">
    	<span class="name">联系电话</span>
        <div class="con"><input type="text" maxlength="200" name="tel" value="" id="tel" placeholder="输入联系电话" /></div>
    </div>
    <div class="login_li x_start bb">
    	<span class="name">地址</span>
        <div class="con"><input type="text" maxlength="200" name="address" value="" id="address" placeholder="输入地址" /></div>
    </div>
    <div class="sub">
    	<a href="javascript:;" class="btn nextStep">申请店铺</a>
    </div>
</div>

<!--第三方登陆-->
<!-- <div class="login_other">
	<div class="tit bb"><h3>第三方登陆</h3></div>
	<div class="con x_pad_start_end">
    	<div class="con_li"><img src="/static/web/images/share/login_wx.png" /></div>
        <div class="con_li"><img src="/static/web/images/share/login_qq.png" /></div>
        <div class="con_li"><img src="/static/web/images/share/login_sina.png" /></div>
    </div>
</div> -->

</body>
<script type="text/javascript">
 $(".nextStep").on("click",function(){
	 var tel = $("#tel").val();
	 var name = $("#name").val();
	 var storeName = $("#storeName").val();
	 var address = $("#address").val();
	 if(tel==""){
		layer.open({
		    content: '请输入联系电话!'
		    ,skin: 'footer'
		    ,time: 3 //2秒后自动关闭
		  });
		return;
	 }
	 if(name==""){
		layer.open({
		    content: '请输入姓名!'
		    ,skin: 'footer'
		    ,time: 3 //2秒后自动关闭
		  });
		return;
	 }
	 if(storeName==""){
		layer.open({
		    content: '请输入店铺名称!'
		    ,skin: 'footer'
		    ,time: 3 //2秒后自动关闭
		  });
		return;
	 }
	 if(address==""){
		layer.open({
		    content: '请输入地址!'
		    ,skin: 'footer'
		    ,time: 3 //2秒后自动关闭
		  });
		return;
	 }
	 var loadingIndex = layer.open({type: 2});
	 $.ajax({
			type: "POST",
			url: '/member/doSaveStore',
	    	data: {tel:tel,name:name,address:address,storeName:storeName},
			dataType:'json',
			success: function(data){
				layer.close(loadingIndex);
				if(data.code==0){
					layer.open({
					    content: '申请成功,请耐心等待!'
					    ,btn: '我知道了',
					    yes: function(index){
					    	  window.location.href="/member";
					    	  layer.close(index)
					    	}
					  });
				}else{ 
					layer.open({
					    content: "网络异常"
					    ,skin: 'footer'
					    ,time: 3 //2秒后自动关闭
					  });
				}
			},
			error:function(){
				layer.close(loadingIndex);
			}
		});
 })
</script>
</html>
