<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>app</title>
<link rel="stylesheet" href="css/style.css"/>
<script src="js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="js/mobile.js" type="text/javascript"></script>
<script src="js/TouchSlide.1.1.js"></script>
</head>
<body>
<!--head-->
<div class="head x_start_end bb">
	<div class="left"><i class="m_icon prev2"></i></div>
    <div class="center">常见问题</div>
    <div class="right">
    	<!--<span class="i_t"><i class="m_icon like"></i><p>收藏</p></span>-->
        <span class="i_t"><i class="m_icon like on"></i><p>已收藏</p></span>
        <apan class="i_t"><i class="m_icon share"></i><p>分享</p></span>
    </div>
</div>
<!--main-->
<div class="mem_news_show">
	<div class="news_show_tit">
    	手机下载APP的方法？
    </div>
    <div class="news_show_info bb">
    	<span>2018.07.21 08.40</span>
    </div>
    <div class="news_show_main">
    	<p>1.您可以打开手机浏览器，扫描二维码，直接下载安装APP。</p>
        <p>2.苹果手机可直接通过“APP Store”搜索“华正金服”进行下载</p>
		<p>3.Android手机用户可以在应用市场上搜索“华正金服”APP进行下载，也可以通过华正金服官方微信公众号下载：微信搜索“华正金服”公众号并关注，点击下方菜单栏中的“APP下载”，点击右上方“通过浏览器打开”，根据提示下载APP。</p>
    </div>
	<div class="clear"></div>
</div>

</body>

</html>
