<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>app</title>
<link rel="stylesheet" href="css/style.css"/>
<script src="js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="js/mobile.js" type="text/javascript"></script>
<script src="js/TouchSlide.1.1.js"></script>
</head>
<body class="bg10">
<!--head-->
<div class="head x_start_end bb bg10">
	<div class="left"><i class="m_icon prev"></i></div>
    <div class="center">银行卡</div>
    <div class="right"></div>
</div>
<!--main-->
<div class="mem_banks_show" style="background:#c55;">
	<div class="list_li x_start y_start" >
        <div class="pic">
            <img src="images/erweima.png" />
        </div>
        <div class="info">
            <h3>中国银行</h3>
            <p>储蓄卡</p>
            <p class="num">****  ****  ****  ****  5772</p>
        </div>
    </div>
    <div class="clear_h10 mb10 bb"></div>
    <div class="edit">
        <a href="#" class="fl mr5">客服热线</a>
        <a href="#" class="fl">提现到此卡</a>
        <a href="#" class="fr">解除绑定</a>
    </div>
    <div class="clear"></div>
</div>


</body>

</html>
