<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>app</title>
<link rel="stylesheet" href="/static/web/css/style.css"/>
<script src="/static/web/js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="/static/web/js/mobile.js" type="text/javascript"></script>
<script src="/static/web/js/layer_m/layer.js"></script>
</head>
<body class="bgf65">
<!--head-->
<div class="head x_start_end bb bgf65 cfff" >
	<div class="left"><i class="m_icon prev"></i></div>
    <div class="center">极速贷</div>
    <div class="right"></div>
</div>
<!--banner-->
<img src="/static/web/images/mes_banner.jpg" />
<!--留言-->
<input type="hidden" value="${storeId}" id="hideStoreId">
<div class="mes_message_top mes_main_box box_siz" id="message_top">
    <ul>
        <li>
        	<input type="text" value="" maxlength="200" id="oneName" class="inp box_sha" placeholder="请输入你的姓名">
            <i class="m_icon mes_icon name"></i>
        </li>
        <li>
        	<input type="text" value="" maxlength="200" id="oneTel" class="inp box_sha" placeholder="请输入手机号码">
            <i class="m_icon mes_icon pho"></i>
        </li>
        <li>
            <a href="javascript:;" class="sub box_sha show_pop_box" id="testMoney">测测我的借款额度</a>
        </li>
    </ul>
</div>
<div class="clear_h20"></div>
<!--lm_tit-->
<div class="mes_lm_tit">
	<div class="tb"><i class="m_icon mes_icon step"></i></div>
    <div class="text">3步到账，比你想象的简单</div>
</div>
<div class="clear_h10"></div>
<!--特点-->
<div class="mes_main_box">
	<div class="mes_tedian grid_3">
    	<div class="tac">
        	<img src="/static/web/images/mes_tedian1.png" />
            <p class="c246">月费率可低至<span class="cf90">8厘</span></p>
        </div>
        <div class="tac">
        	<img src="/static/web/images/mes_tedian2.png" />
            <p class="c246">最快<span class="cf90">30分钟</span>到账</p>
        </div>
        <div class="tac">
        	<img src="/static/web/images/mes_tedian3.png" />
            <p class="c246">审批<span class="cf90">通过率高</span></p>
        </div>
    </div>
    <div class="clear_h5"></div>
    <!--box_tit-->
    <div class="mes_box_tit">
    	<div class="con">
        	<h3>已为50万客户提供借款服务</h3>
        </div>
    </div>
    <div class="clear_h5"></div>
	<!--条件-->
    <div class="mes_condition">
    	<ul>
        	<li class="x_start_end">
            	<div class="left">
                	<h3>芝麻信用</h3>
                    <p>芝麻信用600分以上</p>
                </div>
                <div class="right">
                	<span><i class="m_icon mes_icon zhima"></i></span>
                </div>
            </li>
            <li class="x_start_end">
            	<div class="left">
                	<h3>有信用卡</h3>
                    <p>信用卡6个月以上，近3个月无逾期、负债情况</p>
                </div>
                <div class="right">
                	<span><i class="m_icon mes_icon xinyongka"></i></span>
                </div>
            </li>
            <li class="x_start_end">
            	<div class="left">
                	<h3>实名制手机</h3>
                    <p>本人实名制手机6个月以上</p>
                </div>
                <div class="right">
                	<span><i class="m_icon mes_icon shouji"></i></span>
                </div>
            </li>
        </ul>
    </div>
    <div class="clear_h15"></div>
    <div class="c246 tac fs13">只要您申请的网贷低于3家以内，当天即可到账5-30万</div>
    <div class="clear_h15"></div>
</div>
<div class="clear_h20"></div>
<!--lm_tit-->
<div class="mes_lm_tit">
	<div class="tb"><i class="m_icon mes_icon much"></i></div>
    <div class="text">我来告诉你网贷平台到底有多少家？</div>
</div>
<div class="clear_h10"></div>
<!--数量-->
<div class="mes_main_box">
	<div class="p10 pt15">
    	<a href="mes_pro_list.html"><img src="/static/web/images/mes_tree.png" /></a>
    </div>
	<div class="clear"></div>
    <div class="cd00 tac fs16">哪个适合你？哪个可以做？哪个做不得！</div>
    <div class="clear"></div>
    <div class="tac">
    	<i class="m_icon mes_icon arrow_down"></i>
    </div>
    <div class="clear_h5"></div>
    <!--box_tit-->
    <div class="mes_box_tit">
    	<div class="con">
        	<h3>专业的事交给专业的人来做</h3>
        </div>
    </div>
    <div class="clear_h20"></div>
    <!--失败-->
    <div class="mes_shibai grid_3">
    	<div class="tac">
        	<img src="/static/web/images/mes_shibai1.png" />
            <p class="c79b">过去失败的经历已经证明了你自己没办法掌控全局，不要羞于认输</p>
        </div>
        <div class="tac">
        	<img src="/static/web/images/mes_shibai2.png" />
            <p class="c79b">在错误的道路上奔跑，停下来就是进步</p>
        </div>
        <div class="tac">
        	<img src="/static/web/images/mes_shibai3.png" />
            <p class="c79b">小孩子才计较对错，成年人只在乎得失；这么大的人了别感情用事</p>
        </div>
    </div>
    <div class="clear_h15"></div>
    <div class="mes_shibai_hr"></div>
    <div class="clear_h10"></div>
    <div class="mes_shibai_text tac">
    	<p>你的需求是大额贷款，快速到账</p>
        <p>交给怀信金服，这才是你的要做的事！</p>
    </div>
    <div class="clear_h15"></div>
    <div class="mes_shibai_btn">
    	<div class="btn btn1"><a href="#message">立即联系，极速贷款</a><span class="left"></span><span class="right"></span></div>
        <div class="btn btn2"><a href="#message_top">一意孤行，还不死心</a><span class="left"></span><span class="right"></span></div>
    </div>
</div>
<div class="clear_h60"></div>
<div class="clear_h20"></div>
<!--lm_tit-->
<div class="mes_lm_tit">
	<div class="tb"><i class="m_icon mes_icon ensure"></i></div>
    <div class="text">我们承诺：未成功放款，无任何收费！</div>
</div>
<div class="clear_h10"></div>
<!---->
<div class="mes_main_box">
	<div class="clear_h15"></div>
	<!--box_tit-->
    <div class="mes_box_tit">
    	<div class="con">
        	<h3>超简流程，极速放款</h3>
        </div>
    </div>
    <div class="clear_h20"></div>
	<!--流程-->
    <div class="mes_liucheng grid_4">
    	<div class="tac">
        	<i class="hr"></i>
            <div class="con">
            	<span><i class="m_icon mes_icon zhuce"></i></span>
                <p class="cd00">10秒注册</p>
                <p class="cd00">提交申请</p>
            </div>
        </div>
        <div class="tac">
        	<i class="hr"></i>
            <div class="con">
                <span><i class="m_icon mes_icon shenhe"></i></span>
                <p class="cd00">提交资料</p>
                <p class="cd00">客服审核</p>
            </div>
        </div>
        <div class="tac">
        	<i class="hr"></i>
            <div class="con">
                <span><i class="m_icon mes_icon edu"></i></span>
                <p class="cd00">实时审批</p>
                <p class="cd00">授信额度</p>
            </div>
        </div>
        <div class="tac">
        	<i class="hr"></i>
            <div class="con">
                <span><i class="m_icon mes_icon chenggong"></i></span>
                <p class="cd00">手机签约</p>
                <p class="cd00">成功放款</p>
            </div>
        </div>
    </div>
    <div class="clear_h5"></div>
    <div class="p15">
    	<a href="#message"><img src="/static/web/images/mes_pri_btn.png" /></a>
    </div>
    <div class="clear_h5"></div>
    <div class="mes_liucheng_hr"></div>
    <div class="clear_h15"></div>
    <!--box_tit-->
    <div class="mes_box_tit">
    	<div class="con">
        	<h3>这是不是你想要的结果？</h3>
        </div>
    </div>
    <div class="clear_h20"></div>
    <!--流程-->
    <div class="mes_danxin grid_3">
    	<div class="tac">
        	<img src="/static/web/images/mes_danxin1.png" />
            <p class="cd00">不想接审核电话</p>
        </div>
        <div class="tac">
        	<img src="/static/web/images/mes_danxin2.png" />
            <p class="cd00">不想提供流水</p>
        </div>
        <div class="tac">
        	<img src="images/mes_danxin3.png" />
            <p class="cd00">不想让家访</p>
        </div>
    </div>
    <div class="clear_h10"></div>
    <div class="mes_danxin grid_2" style="padding:0 10%">
    	<div class="tac">
        	<img src="/static/web/images/mes_danxin4.png" />
            <p class="cd00">不想让家人知道</p>
        </div>
        <div class="tac">
        	<img src="/static/web/images/mes_danxin5.png" />
            <p class="cd00">不想提供工作证明</p>
        </div>
    </div>
    <div class="clear_h15"></div>
    <div class="mes_liucheng_hr"></div>
    <div class="clear_h15"></div>
    <div class="c246 tac fs16">来怀信金服，所有要求统统满足你！</div>
    <div class="clear" style="height:90px;"></div>
</div>
<div class="clear"></div>
<!--留言-->
<div class="mes_message box_siz" id="message" style="margin-top:-80px;">
	<img src="/static/web/images/mes_bg.png" />
    <ul>
    	<li class="tit">极速贷款，优惠活动体验中</li>
        <li>
        	<input type="text" value="" id="twoName" maxlength="200" class="inp box_sha" placeholder="请输入你的姓名">
            <i class="m_icon mes_icon name"></i>
        </li>
        <li>
        	<input type="text" value="" id="twoTel" maxlength="200" class="inp box_sha" placeholder="请输入手机号码">
            <i class="m_icon mes_icon pho"></i>
        </li>
        <li>
            <a href="javascript:;" class="sub box_sha show_pop_box" id="ljbm">立即报名体验</a>
        </li>
    </ul>
</div>
<div class="clear"></div>
<!--foot-->
<!-- <div class="clear_h50"></div> -->
<!-- <div class="foot bt box_sha">
	<div class="x_pad_start_end">
    	<div class="foot_li">
        	<a href="/">
                <i class="m_icon home"></i>
                <p>首页</p>
            </a>
        </div>
        <div class="foot_li">
        	<a href="mem_index.html">
                <i class="m_icon mem"></i>
                <p>我的</p>
            </a>
        </div>
        <div class="foot_li on">
        	<a href="message.html">
                <i class="m_icon mes"></i>
                <p>极速贷</p>
            </a>
        </div>
    </div>
</div> -->

<!--悬浮-->
<div class="tooltip">
    <ul>
    	<li class="return_top"><i class="m_icon">返回顶部</i></li>
    </ul>
</div>

<!--弹窗-->
<div class="js_dialog" style="display:none;">
    <div class="pop_box">
    	<div class="pop_box_close close"><i class="m_icon"></i></div>
        <div class="pop_box_con success">
            <img src="/static/web/images/mes_success.jpg" />
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
var phoneReg = /(^1[2|3|4|5|6|7|8|9]\d{9}$)|(^09\d{8}$)/;
	pop_box2();
	function showBox(){
		$(".js_dialog").fadeIn(200);
		var box_w,box_h;
		box_w=$(".pop_box").outerWidth();
		box_h=$(".pop_box").outerHeight();
		$(".pop_box").css({"margin-top":-box_h/2,"margin-left":-box_w/2});
	}
	$("#testMoney").on("click",function(){
		var storeId = $("#hideStoreId").val();
		var tel = $("#oneTel").val();
		if(tel==""){
			layer.open({
			    content: '请输入手机号!'
			    ,skin: 'footer'
			    ,time: 3 //2秒后自动关闭
			  });
			return;
		}else if (!phoneReg.test(tel)) {
			layer.open({
			    content: '请输入有效的手机号!'
			    ,skin: 'footer'
			    ,time: 3 //2秒后自动关闭
			  });
			return;
		}
		var name = $("#oneName").val();
		if(name==""){
			layer.open({
			    content: '请输入姓名!'
			    ,skin: 'footer'
			    ,time: 3 //2秒后自动关闭
			  });
			return;
		}
		var loadingIndex = layer.open({type: 2});
		$.ajax({
			type: "POST",
			url: '/saveLoan',
	    	data: {tel:tel,name:name,storeId:storeId},
			dataType:'json',
			success: function(data){
				layer.close(loadingIndex);
				if(data.code==0){
					showBox();
					/* layer.open({
					    content: '移动版和PC版不能同时存在同一页面'
					    ,btn: '我知道了'
				    	,yes: function(index){
				    		window.location.reload(true);
					    }
					  }); */
				}else{ 
					showBox();
				}
			},
			error:function(){
				layer.close(loadingIndex);
				showBox();
			}
		});
	})
	$("#ljbm").on("click",function(){
		var storeId = $("#hideStoreId").val();
		var tel = $("#twoTel").val();
		if(tel==""){
			layer.open({
			    content: '请输入手机号!'
			    ,skin: 'footer'
			    ,time: 3 //2秒后自动关闭
			  });
			return;
		}else if (!phoneReg.test(tel)) {
			layer.open({
			    content: '请输入有效的手机号!'
			    ,skin: 'footer'
			    ,time: 3 //2秒后自动关闭
			  });
			return;
		}
		var name = $("#twoName").val();
		if(name==""){
			layer.open({
			    content: '请输入姓名!'
			    ,skin: 'footer'
			    ,time: 3 //2秒后自动关闭
			  });
			return;
		}
		var loadingIndex = layer.open({type: 2});
		$.ajax({
			type: "POST",
			url: '/saveLoan',
	    	data: {tel:tel,name:name,storeId:storeId},
			dataType:'json',
			success: function(data){
				layer.close(loadingIndex);
				if(data.code==0){
					layer.open({
					    content: '参加成功,工作人员会在3个工作日内与您联系!'
					    ,btn: '好的'
				    	,yes: function(index){
				    		window.location.reload(true);
					    }
					  });
				}else{ 
					layer.open({
					    content: '网络异常,刷新后重试!'
					    ,btn: '好的'
				    	,yes: function(index){
				    		window.location.reload(true);
					    }
					  });
				}
			},
			error:function(){
				layer.close(loadingIndex);
				layer.open({
				    content: '网络异常,刷新后重试!'
				    ,btn: '好的'
			    	,yes: function(index){
			    		window.location.reload(true);
				    }
				  });
			}
		});
	})
</script>
</html>
