<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>app</title>
<link rel="stylesheet" href="css/style.css"/>
<script src="js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="js/mobile.js" type="text/javascript"></script>
</head>
<body>
<!--head-->
<div class="head x_start_end bb bgf65 cfff">
	<div class="left"><i class="m_icon prev"></i></div>
    <div class="center">贷款中心</div>
    <div class="right"></div>
</div>
<!--text-->
<div class="cf90 m15">
	<p>温馨提示：以下贷款产品，请看清条件，自行获取二维码扫码申请，如条件不符，不要随意测试，以免对自己的信用造成影响</p>
</div>
<!--筛选标签-->
<div class="pro_filt">
	<span class="on">全部</span>
    <span class="">按揭房</span>
    <span class="">保单</span>
    <span class="">芝麻分</span>
    <span class="">信用卡</span>
    <span class="">社保公积金</span>
    <span class="">工作</span>
    <span class="">黑白户</span>
</div>
<div class="clear_h10"></div>
<!--pro_list-->
<div class="box_siz pro_list bt">
	<div class="pro_box x_start bb show_pop_box">
    	<img src="images/app_logo/yirendai.png">
    	<div class="ml15">
            <h3 style="color:#0093dc;">宜人贷</h3>
            <p class="label">信用卡/工资卡/公积金/寿险保单</p>
            <p class="num">额度：5000-10000</p>
        </div>
    </div>
    <div class="pro_box x_start bb">
    	<img src="images/app_logo/yirendai.png">
    	<div class="ml15">
            <h3 style="color:#0093dc;">宜人贷</h3>
            <p class="label">信用卡/工资卡/公积金/寿险保单</p>
            <p class="num">额度：5000-10000</p>
        </div>
    </div>
    <div class="pro_box x_start bb">
    	<img src="images/app_logo/yirendai.png">
    	<div class="ml15">
            <h3 style="color:#0093dc;">宜人贷</h3>
            <p class="label">信用卡/工资卡/公积金/寿险保单</p>
            <p class="num">额度：5000-10000</p>
        </div>
    </div>
    
	<div class="clear" style="height:90px;"></div>
</div>
<div class="clear"></div>

<!--悬浮-->
<div class="tooltip">
    <ul>
    	<li class="return_top"><a><i class="m_icon">返回顶部</i></a></li>
    </ul>
</div>

<!--弹窗-->
<div class="js_dialog" style="display:none;">
    <div class="pop_box">
    	<div class="pop_box_close close"><i class="m_icon"></i></div>
        <div class="clear_h30"></div>
        <div class="pop_box_tit pos_re">
        	<span class="tit fs18">宜人贷内部推荐码</span>
        </div>
        <div class="clear"></div>
        <div class="pop_box_con mes_erweima">
        	<div class="clear_h10"></div>
        	<div class="tac">
            	<div class="ma">
                	<img src="images/erweima.png" />
                </div>
                <p class="fs14 cd00 mt5">扫描或者长按识别图中二维码</p>
                <p class="mt5"><a href="#" class="c06b tdu">https://www.baidu.com</a></p>
            </div>
            <div class="clear_h10"></div>
            <div class="text cf90">
                <p><b>申请条件：</b></p>
                <p>1.年龄在22-55周岁之间</p>
                <p>2.手机运营商实名注册并使用6个月以上</p>
                <p>3.公积金模式：交满1年且连续缴纳6个月以上</p>
                <p>保单模式：寿险保单连续缴纳2年以上，年缴费不低于3000</p>
                <p>精英模式：税后月薪≥4000，在职时间6个月以上</p>
                <p>极速模式：连续6个月信用卡电子账单，本人电商账号</p>
            </div>
            <div class="clear_h20"></div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
	pop_box();
</script>
</html>
