<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootdo.web.dao.ColumnDao">
  <resultMap id="BaseResultMap" type="com.bootdo.admin.entity.Column">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sort_no" jdbcType="INTEGER" property="sortNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, sort_no, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_column
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_column
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bootdo.admin.entity.Column">
    insert into t_column (name, sort_no, 
      create_time, update_time)
    values ( #{name,jdbcType=VARCHAR}, #{sortNo,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bootdo.admin.entity.Column">
    insert into t_column
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sortNo != null">
        sort_no,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null">
        #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bootdo.admin.entity.Column">
    update t_column
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null">
        sort_no = #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bootdo.admin.entity.Column">
    update t_column
    set name = #{name,jdbcType=VARCHAR},
      sort_no = #{sortNo,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getColumnList" resultType="Map">
  	SELECT
		id,
		`name`,
		sort_no sortNo,
		create_time createTime,
		update_time updateTime
	FROM
		t_column
	WHERE 1=1
	<if test="name!=null and name!=''">
		AND `name` LIKE CONCAT('%',#{name},'%')
	</if>
	ORDER BY
		sort_no
  </select>
  
  <delete id="delColumn">  
        DELETE FROM t_column WHERE id = #{id}  
  </delete>  
  <delete id="delColumns">  
        DELETE FROM t_column WHERE FIND_IN_SET(id,#{ids})  
  </delete>  
  <select id="checkColumnName" resultType="int">
  	SELECT
		count(0)
	FROM
		t_column
	WHERE
		`name` = #{name}
	<if test="id!=null and id!=''">
		AND id != #{id}
	</if>
  </select>
</mapper>